.loginPageWrapper {
    background: #2148C0;
    /*opacity: 0.8;*/
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.loginPageWrapper:after {
    content: url("/src/assets/loginPage/backgroundSvg-right.svg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.loginPageWrapper:before {
    content: url("/src/assets/loginPage/backgroundSvg-left.svg");
    position: absolute;
    bottom: 0;
    left: 0;
}

.formLogin,
.forgotPasswordForm {
    position: relative;
    z-index: 20;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.titleForm {
    text-align: center;
    color: azure;
}

.inputGroupWrapper {
    position: relative;

}

.errorLogin {
    color: #750c0c;
    position: absolute;
    font-size: 14px;
    bottom: -35px;
    left: 10px;
    letter-spacing: 1px;
    /* border: 1px solid red; */
}

.checkbox {
    color: #0fabab;
}

.link {
    text-decoration: none;
    color: azure;
    font-size: 14px;
    text-align: center;
}

.link:hover {
    color: #020a1e;
}