.searchInput {
    color: aqua;
}
.searchInput:hover {
    background: none;
}
.menuItemsas {
    // color: #e21143;
    color: #f4442e;
}

.searchInput:hover {
    background: none;
}
.css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
    color: #f72585;
}
.css-1kcggdq-MuiInputBase-root .MuiInputBase-input:hover {
    background: none;
}

.css-1j1tiqp:hover .css-1kcggdq-MuiInputBase-root:hover .MuiInputBase-input:hover, .css-yz9k0d-MuiInputBase-input:hover {
    background-color: none;
}

.css-fc93wj {
//    border-bottom: 2px solid aqua;
    border-bottom: 2px solid #e21143;
}
.searchIconnn {
    color: #ffb03a;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: #111219;
    color: #898989;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background: #e21143;
    background: linear-gradient(60deg, #e21143, #ffb03a);
    color: #000;
}

.css-1kcggdq-MuiInputBase-root:hover {
    background-color: none;
}