html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.342);
}

::-webkit-scrollbar-thumb {
  background: #1565c0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.342);
}
